::ng-deep .clr-wizard-content {
    height: 100%!important
  }
  
  ::ng-deep .clr-wizard-page {
    height: 100%!important
  }
  
  ::ng-deep .clr-form {
    height: 100%!important
  }
  
  ::ng-deep .app-ace-editor {
    height: 100%!important
  }
  