.branding-img {
  position: fixed;
  float: right;
  background-image: url("../../../../assets/img/evoila_engineering_it.png");
  opacity: 0.5;

  background-size: 132px 66px;
  width: 132px;
  height: 66px;

  right: 10px;
  bottom: 10px;
}

