.branding-img {
    background-image: url("../../../assets/img/evoila_engineering_it.png");  
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 132px 66px;
}
  
  