<div class="widget form-group">
  <div [class]="formProperty.schema.htmlClass" [formGroup]=fg>
    <label>{{schema.title}}</label>
    <span *ngIf="schema.description" class="formHelp">{{schema.description}}</span>
    <div *ngFor="let option of schema.oneOf" class="inputClass">
      <clr-radio-wrapper>
        <input clrRadio [formControl]="control" formControlName="{{name}}" [attr.name]="name" [attr.id]="id + '.' + option.enum[0]"
          value="{{option.enum[0]}}" type="radio" [disabled]="schema.readOnly||option.readOnly">
        <label class="horizontal control-label">
          {{option.description}}
        </label>
      </clr-radio-wrapper>
    </div>
    <input *ngIf="schema.readOnly" [attr.name]="name" type="hidden" [formControl]="control">
  </div>
</div>