<div>
	<div>
		<h1>Service Store</h1>
	</div>

	<div class="clr-row">
		<div *ngFor="let service of services" class="clr-col-lg-3 clr-col-12">
		  <div class="card">
			<div class="card-header">
				{{ service.type }}
			</div>
			<div class="card-block">
			  <div class="card-media-block wrap">
				<img [src]="service.imageBase64" class="card-media-image" />
			  </div>
			  <div class="card-text">
				{{ service.description }}
			  </div>
			</div>
			<div class="card-footer">
			  <button class="btn btn-sm btn-link" (click)="this.open(service.type);">Create new Instance</button>
			</div>
		  </div>
		</div>
	</div>

	<clr-wizard #wizard (clrWizardOnReset)="this.getFormJSON()">
		<clr-wizard-title>{{ serviceType }}</clr-wizard-title>

		<clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
		<clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
		<clr-wizard-button [type]="'next'">Next</clr-wizard-button>
		<clr-wizard-button [type]="'finish'" (click)="finish()">Done</clr-wizard-button>

    <clr-wizard-page #pageOne>
      <ng-template clrPageTitle>Basic Information</ng-template>
      <ng-template clrPageNavTitle>An</ng-template>

      <form *ngIf="wizard._open" clrForm clrLayout="horizontal" #formPageOne="ngForm">
        <app-forms
          [formJson]="this.jsonForm"
          (resultJson)="onResultJsonChange($event)"
        ></app-forms>
      </form>
    </clr-wizard-page>

		<clr-wizard-page #pageTwo (clrWizardPageOnLoad)="this.setEditorYAML()">
		  <ng-template clrPageTitle>Edit YAML</ng-template>
		  <ng-template clrPageNavTitle>YAML</ng-template>
		  <form clrForm clrLayout="horizontal" #formPageOne="ngForm">
        <div #editor
        class="app-ace-editor"
        ></div>
			</form>
		</clr-wizard-page>
	</clr-wizard>
</div>
