<div *ngIf="notification !== null">
  <clr-alert
    clrAlertType="{{notification.type}}"
    [(clrAlertClosed)]="alertClosed"
    [clrAlertSizeSmall]="false"
    [clrAlertAppLevel]="true">
      <clr-alert-item>
          <div class="alert-text">
            {{toggleMessageDescription ? notification.message : notification.detail }}
          </div>
          <div class="alert-actions"
               *ngIf="notification.detail && notification.detail.length > 0">
            <a
              class="alert-action"
              (click)="toggleErrorNotificationDetail()">
              {{actionButtonLabel}}
            </a>
          </div>
      </clr-alert-item>
  </clr-alert>
</div>
