<clr-modal [(clrModalOpen)]="modalIsOpen" (clrModalOpenChange)="onOpenChange($event)">
  <h3 class="modal-title">Action Response: {{action.name}}</h3>
  <div class="modal-body">
    <app-notification-banner *ngIf="notificationResponseIsOpen()">
    </app-notification-banner>

    <table class="table table-vertical">
      <tbody>
        <tr *ngFor="let item of responseObject | keyvalue">
          <th>{{item.key}}</th>
          <td>{{item.value}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalIsOpen = false">Close</button>
  </div>
</clr-modal>