<clr-wizard-page
  #pageOne
  *ngFor="let fieldset of formProperty.schema.fieldsets">
  <ng-template clrPageNavTitle*ngIf="fieldset.title">{{fieldset.title}}</ng-template>
  <ng-template clrPageTitle*ngIf="fieldset.description">{{fieldset.description}}</ng-template>

  <form clrForm clrLayout="horizontal" #formPageOne="ngForm">
    <div *ngFor="let fieldId of fieldset.fields">
      <sf-form-element [formProperty]="formProperty.getProperty(fieldId)"></sf-form-element>
    </div>
  </form>
</clr-wizard-page>
