<div>
  <div>
    <div>
      <h1>Services</h1>
      <div *ngIf="this.services.length===0">
        <p>There is currently no service available.
          Use the Service Store to create a service. Go to
          <a routerLink="/main/servicestore">
            Service Store
          </a>
        </p>
      </div>
      <div *ngIf="this.services.length!==0">
        <p>Double click a service to edit</p>
        <br>
        <clr-datagrid>
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-column>Type</clr-dg-column>
          <clr-dg-column>Status</clr-dg-column>
          <clr-dg-column>Status2</clr-dg-column>
          <clr-dg-column>Interactions</clr-dg-column>

          <clr-dg-row *ngFor="let service of services" (dblclick)="this.gotoServiceDetails(service.type, service.name)">
            <clr-dg-cell>{{service.name}}</clr-dg-cell>
            <clr-dg-cell>{{service.type}}</clr-dg-cell>
            <clr-dg-cell>{{service.status}}</clr-dg-cell>
            <clr-dg-cell>
              <service-status [status]="service.status"></service-status>
            </clr-dg-cell>
            <clr-dg-cell>
              <clr-dg-action-overflow>
                <p style="margin-top: 0px">Interactions</p>
                <button (click)="this.gotoServiceDetails(service.type, service.name)" class="action-item">
                  <clr-icon shape="info-standard"></clr-icon>
                  Overview
                </button>
                <button (click)="this.closeAllModals();wizard.open();this.open()" class="action-item">
                  <clr-icon shape="eye"></clr-icon>
                  View Yaml
                </button>
                <div *ngFor="let actionGroups of service.actionGroups">
                  <p>{{actionGroups.name}}</p>
                  <button *ngFor="let action of actionGroups.actions" class="action-item"
                    (click)="displayAction(action)">
                    <clr-icon shape="note"></clr-icon>
                    {{ action.name }}
                  </button>
                </div>
                <div>
                  <p>Delete</p>
                  <button (click)="this.closeAllModals();openDeleteModal = true;" class="action-item alert-actions">
                    <clr-icon shape="trash"></clr-icon>
                    Delete Service
                  </button>
                </div>
              </clr-dg-action-overflow>
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>{{services.length}} Services</clr-dg-footer>
        </clr-datagrid>
      </div>
      <clr-wizard #wizard>
        <!--    <clr-wizard-title>{{ serviceType }}</clr-wizard-title>-->
        <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
        <clr-wizard-page #pageTwo>
          <ng-template clrPageTitle>Edit YAML</ng-template>
          <ng-template clrPageNavTitle>YAML</ng-template>
          <form clrForm clrLayout="horizontal" #formPageOne="ngForm">
            <div #editor class="app-ace-editor"></div>
          </form>
        </clr-wizard-page>
      </clr-wizard>
      <app-action-modal></app-action-modal>
    </div>

    <clr-modal [(clrModalOpen)]="mainModelIsOpen" [clrModalSize]="'lg'">
      <h2 class="modal-title">Service Details of {{this.service.name}}</h2>
      <div class="modal-body">
        <div class="content-container">
          <div class="content-area" style="width: 100%;">
            <div class="clr-row">
              <h4 style="margin-top: 0px;">Information</h4>
            </div>
            <div class="clr-row">
              <div class="clr-col-11">
                <table class="table table-vertical">
                  <tbody>
                    <tr>
                      <th>Name:</th>
                      <td>{{this.service.name}}</td>
                    </tr>
                    <tr>
                      <th>Type:</th>
                      <td>{{this.service.type}}</td>
                    </tr>
                    <tr>
                      <th>Status:</th>
                      <td>
                        <service-status [status]="service.status"></service-status>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            
            </div>
            <div class="clr-row">
              <app-action-modal></app-action-modal>
            </div>
          </div>

          <div class="content-area" style="padding: 0px;">
            <nav class="sidenav" style="float: right; border: 0px;">
              <h4 style="margin-bottom: -10px;">Service Actions</h4>
              <section class="sidenav-content">
                <section class="nav-group collapsible">
                  <label>Common</label>
                  <ul class="nav-list">
                    <li (click)="this.closeAllModals();wizard.open();this.open()">
                      <a>View Yaml</a>
                    </li>
                  </ul>
                </section>

                <section class="nav-group collapsible" *ngFor="let actionGroups of service.actionGroups">
                  <label>{{actionGroups.name}}</label>
                  <ul class="nav-list">
                    <li *ngFor="let action of actionGroups.actions" (click)="displayAction(action)">
                      <a>{{ action.name }}</a>
                    </li>
                  </ul>
                </section>

                <section class="nav-group collapsible">
                  <label>Danger zone</label>
                  <ul class="nav-list">
                    <li (click)="this.closeAllModals();openDeleteModal = true;">
                      <a>Delete service</a>
                    </li>
                  </ul>
                </section>
              </section>
            </nav>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="mainModelIsOpen = false">Cancel</button>
      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="openDeleteModal">
      <h3 class="modal-title">Delete {{service.name}}</h3>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="openDeleteModal = false">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteService()">DELETE</button>
      </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="openModalAction">
      <h3 class="modal-title">{{ service.name }}</h3>
      <div class="modal-body">
        <p>
          Type: {{ service.type }}<br>
          Action: {{ selectedAction.name }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openModalAction = false">Execute</button>
      </div>
    </clr-modal>


  </div>
</div>